<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="ATGEditor"
         name="ATG Editor"
         point="org.eclipse.ui.editors">
      <editor
            class="at.ssw.coco.ide.editor.ATGEditor"
            contributorClass="at.ssw.coco.ide.editor.ATGTextEditorActionContributor"
            default="false"
            extensions="atg"
            icon="icons/file.gif"
            id="at.ssw.coco.ide.editor.ATGEditor"
            name="ATG Editor">
      </editor>
   </extension>
   <extension
         id="CocoWizard"
         name="Coco/R Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="at.ssw.coco.ide.category"
            name="Coco/R"/>
      <wizard
            category="at.ssw.coco.ide.category"
            class="at.ssw.coco.ide.wizard.CocoWizard"
            icon="icons/coco.gif"
            id="at.ssw.coco.ide.atgwizard"
            name="Coco/R Parser and Scanner"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="at.ssw.coco.ide.atgwizard"/>
      </perspectiveExtension>
   </extension>

   <extension
    point="org.eclipse.ui.propertyPages">
    <page
          class="at.ssw.coco.ide.model.properties.CocoParameterPropertyPage"
          icon="icons/coco.gif"
          id="at.ssw.coco.eclipse.ide.propertyPages.atg"
          name="Coco/R Parameters"
          nameFilter="*.atg">
       <enabledWhen>
          <instanceof
                value="org.eclipse.core.resources.IFile">
          </instanceof>
       </enabledWhen>
    </page>
  </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.ssw.coco.ide.editor.FrameEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            filenames="Scanner.frame, Parser.frame"
            icon="icons/file_frame.gif"
            id="at.ssw.coco.ide.editor.FrameEditor"
            name="Coco/R Frame Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="at.ssw.coco.eclipse.ide.matchingBracketsColor"
            label="matchingBracketsColor"
            value="192,192,192">
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="at.ssw.coco.eclipse.ide.editor.context.atg"
            name="ATG Editor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.ssw.coco.ide.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="at.ssw.coco.eclipse.ide.commands.show.outline"
            contextId="at.ssw.coco.eclipse.ide.editor.context.atg"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="at.ssw.coco.eclipse.ide.commands.refactoring.RenameRefactorCommand"
            contextId="at.ssw.coco.eclipse.ide.editor.context.atg"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R">
      </key>
      <key
            commandId="at.ssw.coco.eclipse.ide.commands.reformat.ReformatATGCommand"
            contextId="at.ssw.coco.eclipse.ide.editor.context.atg"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M1+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="at.ssw.coco.eclipse.ide.commands.show.outline"
            name="Quick Outline">
      </command>
      <command
            categoryId="at.ssw.coco.eclipse.ide.refactoring.RefactorCategory"
            id="at.ssw.coco.eclipse.ide.commands.refactoring.RenameRefactorCommand"
            name="RenameRefactorCommand">
      </command>
      <category
            id="at.ssw.coco.eclipse.ide.commands.refactoring.RefactorCategory"
            name="Refactor Category">
      </category>
      <command
            categoryId="at.ssw.coco.eclipse.ide.commands.reformat.ReformatCategory"
            id="at.ssw.coco.eclipse.ide.commands.reformat.ReformatATGCommand"
            name="Reformat ATG">
      </command>
      <category
            id="at.ssw.coco.eclipse.ide.commands.reformat.ReformatCategory"
            name="Reformat Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.ssw.coco.ide.features.refactoring.ui.commands.RenameRefactorHandler"
            commandId="at.ssw.coco.eclipse.ide.commands.refactoring.RenameRefactorCommand">
         <enabledWhen>
            <and>
            	<with
                  variable="selection">
               		<test
                    	 property="at.ssw.coco.eclipse.ide.propertyTesters.isNotEmpty">
               		</test>
            	</with>
            	<with
                  variable="selection">
               		<test
                    	 property="at.ssw.coco.eclipse.ide.propertyTesters.isRenameable">
               		</test>
            	</with>
             <with
                   variable="activeEditorId">
                <equals
                      value="at.ssw.coco.ide.editor.ATGEditor">
                </equals>
             </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="at.ssw.coco.ide.features.refactoring.ui.commands.ReformatProductionHandler"
            commandId="at.ssw.coco.eclipse.ide.commands.reformat.ReformatATGCommand">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="at.ssw.coco.ide.editor.ATGEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="at.ssw.coco.ide.editor.ATGEditor">
         </part>
         <part
               id="at.ssw.coco.ide.editor.FrameEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Refactor">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="at.ssw.coco.ide.editor.ATGEditor">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="at.ssw.coco.eclipse.ide.commands.refactoring.RenameRefactorCommand"
                  label="Rename..."
                  style="push">
            </command>
         </menu>
         <menu
               label="Source">
            <command
                  commandId="at.ssw.coco.eclipse.ide.commands.reformat.ReformatATGCommand"
                  label="Reformat ATG"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="at.ssw.coco.ide.editor.ATGEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Refactor">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="at.ssw.coco.ide.editor.ATGEditor">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="at.ssw.coco.eclipse.ide.commands.refactoring.RenameRefactorCommand"
                  label="Rename..."
                  style="push">
            </command>
         </menu>
         <menu
               label="Source">
            <command
                  commandId="at.ssw.coco.eclipse.ide.commands.reformat.ReformatATGCommand"
                  label="Reformat ATG"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="at.ssw.coco.ide.editor.ATGEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.ssw.coco.ide.features.refactoring.ui.commands.TextSelectionTester"
            id="at.ssw.coco.eclipse.ide.propertyTesters.refactoring.TextSelectionTester"
            namespace="at.ssw.coco.eclipse.ide.propertyTesters"
            properties="isNotEmpty"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="at.ssw.coco.ide.features.refactoring.ui.commands.RenameableTester"
            id="at.ssw.coco.eclipse.ide.propertyTesters.refactoring.RenameableTester"
            namespace="at.ssw.coco.eclipse.ide.propertyTesters"
            properties="isRenameable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
